[package]
name = "fuse-backend-rs"
version = "0.8.0"
keywords = ["fuse", "virtio", "virtio-fs", "vhost-user-fs"]
categories = ["filesystem", "os::linux-apis"]
description = "A rust library for Fuse(filesystem in userspace) servers and virtio-fs devices"
authors = [
    "Liu Bo <bo.liu@linux.alibaba.com>",
    "Liu Jiang <gerry@linux.alibaba.com>",
    "Peng Tao <bergwolf@hyper.sh>",
]
readme = "README.md"
license = "Apache-2.0 AND BSD-3-Clause"
edition = "2018"
repository = "https://github.com/cloud-hypervisor/fuse-backend-rs"
homepage = "https://github.com/cloud-hypervisor/"

[dependencies]
arc-swap = ">=0.4.6"
#async-trait = { version = "0.1.42", optional = true }
bitflags = ">=1.1.0"
#futures = { version = "0.3", optional = true }
#iou = { version = "0.3.3", optional = true }
libc = ">=0.2.68"
log = ">=0.4.6"
nix = "0.23.1"
lazy_static = "1.4"
#ringbahn = { version = "0.0.0-experimental.3", optional = true }
vmm-sys-util = { version = ">=0.9", optional = true }
vm-memory = { version = "0.7", features = ["backend-mmap"] }
virtio-queue = { version = "0.1.0", optional = true }
vhost = { version = "0.3", features = ["vhost-user-slave"], optional = true }
mio = { version = "0.8", features = ["os-poll", "os-ext"]}

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation-sys = { version = "0.2.3", optional = true }
diskarbitration-sys = { version = "0.0.4", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
caps = { version = "0.5.1", optional = true }

[dev-dependencies]
futures = { version = "0.3.0", features = ["thread-pool"]}
stderrlog = ">=0.5.0"
vmm-sys-util = ">=0.9.0"
vm-memory = { version = "0.7", features = ["backend-mmap", "backend-bitmap"] }

[features]
default = ["fusedev"]
#async-io = ["async-trait", "futures", "iou", "ringbahn", "caps]
fusedev = ["vmm-sys-util", "caps", "core-foundation-sys", "diskarbitration-sys"]
virtiofs = ["virtio-queue", "caps"]
vhost-user-fs = ["virtiofs", "vhost", "caps"]

[patch."registry+https://github.com/rust-lang/crates.io-index"]
#ringbahn = { git = "https://github.com/jiangliu/ringbahn.git", branch = "enhance", optional = true }
